.clear-all-btn-wrapper  {
  margin: 20px 0;
  text-align: right;
}

.clear-all-btn-wrapper .clear-all-btn {
  background: #fff;
  border-color: #F00;
  color: #F00;
  cursor: pointer;
  padding: 10px;
}

.clear-all-btn-wrapper .clear-all-btn:hover,
.clear-all-btn-wrapper .clear-all-btn:focus {
  background: #F00;
  color: #fff;
}